<div class="ce-panel border p-3 rounded-1 my-4">
  <div class="row g-4">
    <div class="col-md-4">
      <div class="ce-amount">
        <label for="amount" class="mb-1 ms-1">Amount</label>
        <input type="number" [value]="amount" [(ngModel)]="amount" name="amount" (keyup)="onAmountChange()"
          class="form-control">
      </div>
    </div>
    <div class="col-md-8">
      <div class="d-flex align-items-center justify-content-between">
        <div class="ce-currency">
          <label for="currency" class="mb-1 ms-1">From</label>
          <select #val1 class="form-select" id="s1" name="currency" [disabled]="disableCurrent"
            (change)="getCurrentRate(val1.value)">
            <option *ngFor="let currency of currencies" [value]="currency" [selected]="currency == current">{{currency}}
            </option>
          </select>
        </div>
        <div class="align-self-end">
          <button (click)="swapCurrencies()" id="swap-btn" [disabled]="disableCurrent"
            class="bg-transparent border-0 text-white d-flex align-items-center">
            <span class="material-symbols-outlined">
              swap_horiz
            </span>
          </button>

        </div>
        <div class="ce-currency">
          <label for="currency" class="mb-1 ms-1">To</label>
          <select #val2 id="s2" class="form-select" [disabled]="disable" name="currency"
            (change)="getdesiredRate(val2.value)">
            <option *ngFor="let currency of currencies" [value]="currency" [selected]="currency == desired">{{currency}}
            </option>
          </select>
        </div>
      </div>
      <div class="ce-btn">
        <button (click)="convertProcess()" [disabled]="disable" class="convert-btn">Convert</button>
      </div>

    </div>
  </div>
  <hr *ngIf="convertedResult">
  <div *ngIf="convertedResult" class="ce-details">
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="ce-unit border rounded-1 p-2 my-3 my-md-0">
          <span>1.00 {{baseVal}} = {{desiredResult | number:'1.0-5'}} {{convertedVal}}</span>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row align-items-center">
          <div [ngClass]="{'col-md-8' : !isHidden}">
            <div class="ce-result border rounded-1">
              <span>{{convertedResult | number:'1.0-5'}} {{convertedVal}}</span>
            </div>
          </div>
          <div *ngIf="!isHidden" class="col-md-4">
            <div class="ce-btn mt-3 mt-md-0">
              <a [routerLink]="['/details']" [queryParams]="{from : current , to : desired}">
                <button [disabled]="disable" class="details-btn m-0">
                  More Details
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-http-loader [loader]="loader.GRID" [iconColor]="'#2666CF'" [title]="'Currency
  Exchanger'" [titleColor]="'white'" [titleSize]="'30px'"></ngx-http-loader>
